@import "fonts";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@bgPrimaryColor: #FFBD00;

body {
  margin: 0;
  padding: 0;
  font-size: unit(@fontSize, px);
  line-height: 1.4;
  color: #424b5a;
  .primaryFont();

  background: @bgPrimaryColor;
}

#page {
  max-width: 2000px;
  margin: 0 auto;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.mw {
  max-width: 1000px;
  margin: 0 auto;
}

@buttonPrimaryColor: @bgPrimaryColor;

.button {
  .em(18);
  font-weight: 400;
  white-space: nowrap;
  background: @buttonPrimaryColor;
  //border: 2px solid @buttonPrimaryColor;
  border: none;
  border-radius: 0;
  padding: 13px 25px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;

  transition: color .3s, border-color .3s, background .3s;

  &:hover {
    background-color: #fff;
    color: @buttonPrimaryColor;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  .headerFont();
  line-height: 1.2;
  font-weight: 600;
}

.logo {
  background: #fff;
  text-align: center;
  padding: 30px 15px;
  @media (max-width: 500px) {
    padding: 15px;
  }
  img {
    width: auto;
    max-height: 50px;
  }
}

.home-banner {
  background-color: #747b80;
  color: #fff;
  min-height: 100vh;
  position: relative;

  /*.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }*/

  .image-mobile {
    @media (min-width: 501px) {
      display: none;
    }
  }
  .image-desktop.has-mobile-image {
    @media (max-width: 500px) {
      display: none;
    }
  }

  .image-mobile,
  .image-desktop {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    /*
    position: absolute;
    height: 100%;
    object-fit: cover;
    */
  }

  .text {
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 15px;
    transform: translateY(-50%);
  }
}

h1, h2 {
  .em(55);
  font-weight: 400;
  margin: 0 0 .7em;

  @media (max-width: 1440px) {
    .em(50);
  }

  @media (max-width: 1200px) {
    .em(45);
  }

  @media (max-width: 1000px) {
    .em(40);
  }

  @media (max-width: 500px) {
    .em(30);
  }
}

.description {
  .em(16);
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto;
}

#main {
  .ujiCountdown {
    //background-color: #000;
    display: block;

    .countdown_row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      padding: 0 15px;

      @media (max-width: 500px) {
        padding: 15px;
      }

      .countdown_amount {
        .headerFont() !important;
        .em(40) !important;
        text-shadow: none !important;
        margin: 0 3px;
        color: @bgPrimaryColor !important;

        //background: #6276b4;
        //background: -moz-linear-gradient(top, #6276b4 50%, #536398 50%) !important;
        //background: -webkit-linear-gradient(top, #6276b4 50%, #536398 50%) !important;
        //background: linear-gradient(to bottom, #6276b4 50%, #536398 50%) !important;
        //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6276b4', endColorstr='#536398', GradientType=0) !important;
        background: transparent !important;

        display: inline-block;
        padding: 6px;
        min-width: 35px !important;
        line-height: 1 !important;
        border-radius: 3px;

        @media (max-width: 1700px) {
          .em(35) !important;
        }

        @media (max-width: 650px) {
          .em(23) !important;
          min-width: 35px !important;
        }
        @media (max-width: 500px) {
          .em(20) !important;
          min-width: 30px !important;
        }

        @media (max-width: 359px) {
          .em(18) !important;
          min-width: 25px !important;
        }
      }

      .countdown_txt {
        .em(21) !important;
        .primaryFont() !important;
        color: #fff !important;
        font-weight: 400 !important;
        text-transform: uppercase;
        margin: 6px 0 0;

        @media (max-width: 1700px) {
          .em(18) !important;
        }

        @media (max-width: 650px) {
          .em(16) !important;
        }

        @media (max-width: 500px) {
          .em(14) !important;
        }
      }

      > span {
        background: transparent !important;
        margin: 0 15px !important;

        @media (max-width: 650px) {
          margin: 0 10px !important;
        }

        @media (max-width: 500px) {
          margin: 0 5px !important;
        }
      }
    }
  }
}

.page-content,
.show-links {
  background: #0f0a10;
  background: -moz-linear-gradient(top, #0f0a10 0%, #0c0c0c 100%);
  background: -webkit-linear-gradient(top, #0f0a10 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #0f0a10 0%, #0c0c0c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0a10', endColorstr='#0c0c0c', GradientType=0);
}

.show-links {
  .show-links__content {
    padding: 8% 15px;
  }
  h2 {
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .description {
    text-align: center;
    color: #fff;
  }

  .links {
    margin: 8% 0;
    @media (max-width: 500px) {
      margin-bottom: 0;
    }
  }
  .link {
    background: #1D0F1D;
    padding: 0;
    align-items: stretch;
    .em(18);

    & ~ .link {
      margin: 15px 0 0;
      /*@media (max-width: 1440px) {
        margin: 15px 0 0;
      }

      @media (max-width: 1200px) {
        margin: 15px 0 0;
      }*/
    }

    .show-row-2 {
      @media (min-width: 501px) {
        margin: 3px 0 0;
      }
    }

    &,
    .show-row-2 {
      @media (min-width: 501px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .show-info {
      flex: 1 1;
      padding: 29px 57px;
      .em(22);
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1;
      color: #fff;

      @media (max-width: 1000px) {
        padding: 20px 25px;
        .em(20);
      }

      @media (max-width: 500px ) {
        .em(18);
        padding: 25px 15px;
        text-align: center;
      }
    }
    .show-button {
      flex: 0 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .date {
      font-weight: 400;
      color: @bgPrimaryColor;
    }
    .show-venue,
    .show-location {
      flex: 0 1 50%;

      @media (max-width: 500px) {
        margin: 10px 0 0;
      }
    }

    .button {
      @media (min-width: 501px) {
        display: flex;
        align-items: center;
      }
      @media (max-width: 500px) {
        display: block;
        width: 100%;
      }
    }
  }
}

.site-footer {
  background: @bgPrimaryColor;
  color: #fff;
}

.social {
  text-align: center;
}

.social_link {
  background: @bgPrimaryColor;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  border: 2px solid #fff;
  .em(40);
  transition: color .3s, border-color .3s, background .3s;

  @media (max-width: 500px) {
    width: 45px;
    height: 45px;
    line-height: 45px;
    .em(20);
    margin: 0 6px;
  }

  &:hover {
    background: #fff;
    color: @bgPrimaryColor;
  }

  &:before {
    font-family: FontAwesome;
    font-weight: 400;
    display: inline-block;
  }

  &.facebook_url {
    &:before {
      content: "\f230";
    }
  }
  &.twitter_url {
    &:before {
      content: "\f099";
    }
  }
  &.instagram_url {
    &:before {
      content: "\f16d";
    }
  }
  &.youtube_url {
    &:before {
      content: "\f167";
    }
  }
}

.footer__content {
  padding: 4% 15px;
  @media (max-width: 500px) {
    padding: 30px 15px;
  }
}

.copy-row {
  text-align: center;
  margin: 6% 0 0;
}

.footer-links {
  margin: 3% 0 0;
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 15px;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}

.page-content {
  padding: 30px 15px;
  color: #fff;
  h1 {
    text-align: left;
  }

  .content {
    h2 {
      font-weight: 600;
      .em(24);
      @media (max-width: 500px) {
        .em(20);
      }
    }
  }
}

.header-content {
  position: relative;
}

.counter-box {
    background: #000;
    text-align: center;
    padding: 45px 0;

  @media (max-width: 1700px) {
    padding: 30px 0;
  }

  p {
    margin: 0;
  }

  span.link {
    color: #fff;
    text-decoration: none;
    .em(38);
    margin: 35px 0 0;
    display: inline-block;
    line-height: 1;
    @media (max-width: 1700px) {
      .em(33);
    }

    @media (max-width: 600px) {
      .em(25);
      margin-top: 25px;
    }
    @media (max-width: 500px) {
      margin: 17px 0 0;
    }
  }

  br {
    display: none;
  }
}

.counter-title {
  color: @bgPrimaryColor;
  .em(48);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 30px;
  line-height: 1;

  @media (max-width: 1700px) {
    .em(40px);
    //margin: 0 0 15px;
  }

  @media ( max-width: 500px ) {
    margin-bottom: 0;
  }
}

.hide-counter {
  .counter-box {
    display: none;
  }
}
