@font-face {
  font-family: 'DINOT';
  font-weight: 500;
  src: url('../fonts/DINOTMedium.eot');
  src: url('../fonts/DINOTMedium.eot') format('embedded-opentype'),
  url('../fonts/DINOTMedium.woff2') format('woff2'),
  url('../fonts/DINOTMedium.woff') format('woff'),
  url('../fonts/DINOTMedium.ttf') format('truetype'),
  url('../fonts/DINOTMedium.svg#DINOTMedium') format('svg');
}

@font-face {
  font-family: 'DINOT';
  font-weight: 700;
  src: url('../fonts/DINOTBold.eot');
  src: url('../fonts/DINOTBold.eot') format('embedded-opentype'),
  url('../fonts/DINOTBold.woff2') format('woff2'),
  url('../fonts/DINOTBold.woff') format('woff'),
  url('../fonts/DINOTBold.ttf') format('truetype'),
  url('../fonts/DINOTBold.svg#DINOTBold') format('svg');
}

.primaryFont() {
  font-family: 'DINOT', sans-serif;
  font-weight: 500;
}

.headerFont() {
  font-family: 'DINOT', sans-serif;
  font-weight: 700;
}

@fontSize: 14;

.em(@fs) {
  font-size: unit((@fs/ @fontSize), em);
}